{require_otp_vsn, "R1[56]B"}.

{erl_opts,
 [fail_on_warning,
  {parse_transform, lager_transform}]}.

{sub_dirs,
 ["apps/linc",
  "apps/linc_us4",
  "apps/linc_us3",
  "rel"]}.

{deps,
 [{lager, ".*", {git, "http://github.com/basho/lager.git", {tag, "1.2.2"}}},
  {of_protocol, ".*",
   {git, "http://github.com/FlowForwarding/of_protocol.git", "master"}},
  {enetconf, ".*",
   {git, "https://github.com/FlowForwarding/enetconf.git", "master"}},
  {of_config, ".*",
   {git, "https://github.com/FlowForwarding/of_config.git", "master"}},
  {meck, ".*", {git, "http://github.com/eproxus/meck.git",
                "8433cf2e07862ea8c66e85e2578b7146b4332354"}},
  {pkt, ".*", {git, "http://github.com/esl/pkt.git",
               "d534784420b3ff41b7c36a6dd7a114497c8767ea"}},
  {procket, ".*", {git, "http://github.com/msantos/procket.git",
                   "0c32f661dc54aeff9c89a4ced3449eb9856a531f"}},
  {epcap, ".*", {git, "http://github.com/esl/epcap.git",
                 "110cc19186b697cd2b0d2a8c2af09cea08707b40"}},
  {tunctl, ".*", {git, "http://github.com/msantos/tunctl.git",
                  "4faf1a52f1b364df6eb71176477861dbf60dcf0f"}}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
