{require_otp_vsn, "R15B"}.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.

{sub_dirs, [
            "apps/of_switch",
            "rel"
           ]}.

{deps,  [
         {lager, ".*", {git, "http://github.com/basho/lager.git", "master"}},
         {of_protocol, ".*", {git, "http://github.com/FlowForwarding/LINC-OF-Protocol.git", "master"}},
         {meck, "0\.7\..*", {git, "http://github.com/eproxus/meck.git", "master"}},
         {pkt, ".*", {git, "http://github.com/esl/pkt.git", "master"}},
         {procket, ".*", {git, "http://github.com/msantos/procket.git", "master"}},
         {epcap, ".*", {git, "http://github.com/esl/epcap.git", "master"}},
         {tunctl, ".*", {git, "http://github.com/msantos/tunctl.git", "master"}}
        ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_compile_opts, [{i, "../"}]}.
