{require_otp_vsn, "R1[56]B"}.

{erl_opts, [fail_on_warning,
            {parse_transform, lager_transform}]}.

{sub_dirs, [
            "apps/linc",
            "apps/linc_us4",
            "apps/linc_us3",
            "rel"
           ]}.

{deps,  [
         {lager, ".*", {git, "http://github.com/basho/lager.git"}},
         {of_protocol, ".*",
          {git, "http://github.com/FlowForwarding/of_protocol.git"}},
         {enetconf, ".*",
          {git, "https://github.com/FlowForwarding/enetconf.git"}},
         {of_config, ".*",
          {git, "https://github.com/FlowForwarding/of_config.git"}},
         {meck, "0\.7\..*", {git, "http://github.com/eproxus/meck.git"}},
         {pkt, ".*", {git, "http://github.com/esl/pkt.git"}},
         {procket, ".*", {git, "http://github.com/msantos/procket.git"}},
         {epcap, ".*", {git, "http://github.com/esl/epcap.git"}},
         {tunctl, ".*", {git, "http://github.com/msantos/tunctl.git"}}
        ]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.
