[{linc,
     [{of_config,disabled},
      {software_desc,<<"LINC-OE OpenFlow Software Switch 1.1">>},
      {capable_switch_ports,
          [{port,10,[{interface,"tap10"}]},
           {port,20,[{interface,"dummy"},{type,optical}]},
           {port,21,[{interface,"dummy"},{type,optical}]}]},
      {capable_switch_queues,[]},
      {optical_links,[{{1,20},{2,21}}]},
      {logical_switches,
          [{switch,1,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:02"},
                {controllers,[{"Switch0-Controller","localhost",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,[{port,20,{queues,[]}},{port,10,{queues,[]}}]}]},
           {switch,2,
               [{backend,linc_us4_oe},
                {datapath_id,"00:00:ff:ff:ff:ff:ff:03"},
                {controllers,[{"Switch0-Controller","localhost",6653,tcp}]},
                {controllers_listener,disabled},
                {queues_status,disabled},
                {ports,[{port,21,{queues,[]}}]}]}]}]},
 {epcap,[{verbose,false},{stats_interval,10}]},
 {enetconf,
     [{capabilities,
          [{base,{1,0}},
           {base,{1,1}},
           {startup,{1,0}},
           {'writable-running',{1,0}}]},
      {callback_module,linc_ofconfig},
      {sshd_ip,any},
      {sshd_port,1830},
      {sshd_user_passwords,[{"linc","linc"}]}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {sync,[{excluded_modules,[procket]}]}].
