%% -*- erlang -*-
{pre_hooks,
 [{generate,
   "sh -c 'test -f files/sys.config || (echo "
   "\"The configuration file rel/files/sys.config does not exist.\n"
   "You can create it in two ways:\n"
   "\n"
   "1. Either run scripts/config_gen with appropriate arguments\n"
   "   and save its output in rel/files/sys.config,\n"
   "\n"
   "2. Or copy rel/files/sys.config.orig to rel/files/sys.config\n"
   "   and edit it by hand to fit your setup.\n"
   "\n"
   "Then run \\\"make rel\\\" again.\n\"; exit 1)'"
  }]}.
