[
 {of_switch,
  [
   %% Following setting enable or disable OF-Config subsystem which consists of
   %% three applications: ssh, enetconf and of_config, where of_config is not
   %% a standalone application per se, but only a library module used by
   %% enetconf. Therefore only ssh and enetconf have to be started to initialize
   %% the OF-Config subsystem.
   %% Allowed values: 'enabled' | 'disabled'
   {of_config, disabled},
   {controllers,
    [
     %% If you want to connect to the controller,
     %% specify its hostname and port as in the following example:
     %% {"localhost", 6633}
    ]},
   {ports,
    [
     %% Configure port features. This part of the configuration will be handled
     %% by the OF-Config protocol in future releases of LINC.
     %% * Spec for port entry:
     %% [{integer(),
     %%   [{rate, {integer(), bps|kbps|kibps|mbps|mibps|gbps|gibps}} |
     %%    {queues, [{integer(), [{min_rate, integer()} |
     %%                           {max_rate, integer()}]}]}]]
     %% * Sample port entries:
     %% {1, [
     %%      {rate, {200, kibps}},
     %%      {queues, [{1, [{min_rate, 20},
     %%                     {max_rate, 80}]}]}
     %%     ]},
     %% {2, [
     %%      {rate, {100, kibps}},
     %%      {queues, [{1, [{max_rate, 90}]}]}
     %%     ]}
    ]},
   {backends,
    [
     {userspace, [
                  %% Configure ports available to the switch when using the
                  %% userspace backend according to your system setup.
                  %% * Under Linux all TAP interfaces must be set up beforehand
                  %%   as persistent.
                  %% * Under MacOSX TAP interfaces are created during node
                  %%   startup.
                  {ports,
                   [
                    %% {1, [{interface, "eth0"}]},
                    %% {2, [{interface, "tap0"}]}
                   ]}
                 ]}
    ]}
  ]},
 {enetconf,
  [
   {capabilities, [{base, {1, 1}}]},
   {callback_module, linc_ofconfig},
   {sshd_ip, any},
   {sshd_port, 830},
   {sshd_user_passwords,
    [
     {"linc", "linc"}
    ]}
  ]},
 {lager,
  [
   {handlers,
    [
     {lager_console_backend, info},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
 {sasl,
  [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].
