[
 {of_switch,
  [
   {controllers,
    [
     %% If you don't want to connect to the controller,
     %% comment out the following line.
     {"localhost", 6633}
    ]},
   {ports,
    [
     %% Configure ports available to switch according to your
     %% system setup.
     %% * Under Linux all TAP interfaces must be set up beforehand as
     %%   persistent and assigned correct IP addresses.
     %% * Under MacOSX TAP interfaces are created during node startup
     %%   and IP addresses are assigned programatically. You must add
     %%   tuple {ip, "xx.xx.xx.xx"} to the TAP port configuration list
     %%   to configure its IP address.
     %% [{ofs_port_no, 1}, {interface, "eth0"}],
     %% [{ofs_port_no, 2}, {interface, "eth1"}],
     %% [{ofs_port_no, 3}, {interface, "tap0"}],
     %% [{ofs_port_no, 4}, {interface, "tap1"}]
    ]}
  ]},
 {lager,
  [
   {handlers,
    [
     {lager_console_backend, debug},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},
 {sasl,
  [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].
