[
 {linc,
  [
   %% Following setting enables or disables OF-Config subsystem which consists
   %% of three applications: ssh, enetconf and of_config.
   %% Allowed values: 'enabled' | 'disabled'
   {of_config, disabled},

   %% Configuration of the controllers switch will connect to. Ideally this list
   %% should be empty and assignement should be handled by an OF-Config client.
   %% Default OFP controller port is 6633.
   {controllers,
    [
     {"localhost", 6633, [{auxiliary_connections, [{tcp, 0}]}]}
    ]},

   %% Configuration of switch backend implementation used by ofs_logic process.
   %% By default an Erlang userspace 1.3.1 implementation is selected.
   %% Allowed values: 'linc_us3' | 'linc_us4'
   {backend, linc_us4},
   
   {backends_opts,
    [
     %% Options for userspace backend v4 - OpenFlow 1.3.1
     {linc_us4,
      [
       %% Configure ports available to the switch when using the
       %% userspace backend according to your system setup.
       %% * Under Linux all TAP interfaces must be set up beforehand
       %%   as persistent.
       %% * Under MacOSX TAP interfaces are created during node
       %%   startup (which requires setting an ip parameter).
       {ports,
        [
         %% {1, [{interface, "eth0"}]},
         %% {2, [{interface, "tap0"}]},
         %% {3, [{interface, "tap1"}, {ip, "10.0.0.1"}]}
        ]},
       %% Enable or disbale queues subsystem
       %% Allowed values: 'enabled' | 'disabled'
       {queues_status, disabled},
       %% If queues are enabled, assign them to ports and set appropriate rates
       {queues,
        [
         {port, 1, [{port_rate, {100, kbps}},
                    {port_queues, [
                                   {1, [{min_rate, 100}, {max_rate, 100}]},
                                   {2, [{min_rate, 100}, {max_rate, 100}]}
                                  ]}]},
         {port, 2, [{port_rate, {100, kbps}},
                    {port_queues, [
                                   {1, [{min_rate, 100}, {max_rate, 100}]},
                                   {2, [{min_rate, 100}, {max_rate, 100}]}
                                  ]}]}
        ]}
      ]},
     %% Options for userspace backend v3 - OpenFlow 1.2
     {linc_us3,
      [
       %% Configure ports available to the switch when using the
       %% userspace backend according to your system setup.
       %% * Under Linux all TAP interfaces must be set up beforehand
       %%   as persistent.
       %% * Under MacOSX TAP interfaces are created during node
       %%   startup (which requires setting an ip parameter).
       {ports,
        [
         %% {1, [{interface, "eth0"}]},
         %% {2, [{interface, "tap0"}]},
         %% {3, [{interface, "tap1"}, {ip, "10.0.0.1"}]}
        ]},
       %% Enable or disbale queues subsystem
       %% Allowed values: 'enabled' | 'disabled'
       {queues_status, disabled},
       %% If queues are enabled, assign them to ports and set appropriate rates
       {queues,
        [
         {port, 1, [{port_rate, {100, kbps}},
                    {port_queues, [
                                   {1, [{min_rate, 100}, {max_rate, 100}]},
                                   {2, [{min_rate, 100}, {max_rate, 100}]}
                                  ]}]},
         {port, 2, [{port_rate, {100, kbps}},
                    {port_queues, [
                                   {1, [{min_rate, 100}, {max_rate, 100}]},
                                   {2, [{min_rate, 100}, {max_rate, 100}]}
                                  ]}]}
        ]}
      ]}
    ]}
  ]},

 {enetconf,
  [
   {capabilities, [{base, {1, 1}}]},
   {callback_module, linc_ofconfig},
   {sshd_ip, any},
   {sshd_port, 1830},
   {sshd_user_passwords,
    [
     {"linc", "linc"}
    ]}
  ]},

 {lager,
  [
   {handlers,
    [
     {lager_console_backend, info},
     {lager_file_backend,
      [
       {"log/error.log", error, 10485760, "$D0", 5},
       {"log/console.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

 {sasl,
  [
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]}
].
